#e92_74 {
  overflow: hidden;
  opacity: 1;
  width: 500px;
  height: 42px;
  position: absolute;
  margin-left: 190px;
}
#e92_32 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 500px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e92_27 {
  background-color: #fefdfb;

  opacity: 1;
  width: 500px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e92_34 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 98.6093521118164px;
  height: 31.86206817626953px;
  position: absolute;
  left: 12.6422119140625px;
  top: 5.068965435028076px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
#e92_28 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 98.6093521118164px;
  height: 31.86206817626953px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e92_36 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 82.3577880859375px;
  top: 10.9310302734375px;
}
#e92_37 {
  opacity: 1;
  width: 10px;
  height: 5.906551837921143px;
  position: absolute;
  left: 0px;
  top: 2.046703815460205px;
}
#e92_38 {
  opacity: 1;
  width: 10px;
  height: 5.906551837921143px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e92_39 {
  /* background-color: rgba(0, 0, 0, 0.25); */
  opacity: 0.25;
  width: 10px;
  height: 5.906551837921143px;
  position: absolute;
  left: 0px;
  top: -15px;
}
#e92_72 {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 51.8331184387207px;
  height: 31.8620662689209px;
  position: absolute;
  left: 8.3577880859375px;
  top: 8.9310302734375px;
  font-family: Futura BQ;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
  line-height: undefined;
}
#e92_35 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 364.0960693359375px;
  height: 31.86206817626953px;
  position: absolute;
  left: 118.8369140625px;
  top: 5.068965435028076px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#e92_29 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 364.0960693359375px;
  height: 31.86206817626953px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#e92_55 {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10.1630859375px;
  top: 9.9310302734375px;
}
#e92_56 {
  /* background-color: rgba(0, 0, 0, 0.25); */
  opacity: 0.25;
  width: 9.654565811157227px;
  height: 10px;
  position: absolute;
  left: 0.17273518443107605px;
  top: -3px;
  font-size: 13px;
}
#e92_73 {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 85.96713256835938px;
  height: 31.8620662689209px;
  position: absolute;
  left: 34.1630859375px;
  top: 8.9310302734375px;
  font-family: Futura BQ;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
  line-height: undefined;
}
@media screen and (max-width: 1480px) {
  #e92_74 {
    opacity: 0;
  }
}
/* .c-input {
  
  width: 500px;
  height: 29px;

  position: relative;
 
}
.c-dropdown {
  background: rgb(226, 205, 205);
  width: 100%;
  height: 20px;
  
  padding: 20px;
  display: inline-flex;
  font-size: 10px;
  text-align: center;
  justify-content: center;

}
.c-search {
 
  width: 380px;
  height: inherit;
 
  padding: 20px;
  display: inline-flex;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 29px;
  top: 2px;
  
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  overflow: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
